@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --red: #e50814;
  --black: #141414;
  --font: #aaa;
  --fontWhite: #fff;
}

a {
  cursor: pointer;
}

body {
  background: #161b22;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontWhite);
}

header nav {
  padding: 1rem;
  background: #30363d;
  width: 100%;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  margin-left: 5px;
  color: var(--font);
  font-family: "Arial Black";
  font-size: 2.5rem;
}

header .logo:hover {
  color: var(--fontWhite);
  background: #e50814;
}

header nav a {
  text-decoration: none;
  color: var(--font);
  margin-right: 10px;
  font-size: 1rem;
  margin-right: 2rem;
}

header nav a:hover {
  color: var(--fontWhite);
  font-size: 0.9rem;
  padding: 0.2rem;
}

/*Logo - Filme*/

.serie-principal .titulo {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.tituloD {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 4rem;
}

.profile {
  height: 10rem;
  background-size: cover;
  border-radius: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/*Animation*/
.containercss {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 2rem;
}

.containercss .last-container {
  margin-left: 30px;
}

.containercss div > span {
  color: red;
}

/*Animation*/
.containercss .box-content {
  height: 50px;
  color: #fff;
  display: block;
  overflow: hidden;
}

.box-content div {
  height: 45px;
  padding: 4px 12px;
  margin-bottom: 45px;
  border-radius: 4px;
}

/*Animation*/
.box-content div:first-child {
  animation: showCoffe 7s linear 600ms infinite;
  background: black;
}

.box-content div {
  background: #42c58a;
}

.box-content div:last-child {
  background: #dc143c;
}

/*Animation*/
@keyframes showCoffe {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: -87px;
  }
  33% {
    margin-top: -87px;
  }
  38% {
    margin-top: -177px;
  }
  66% {
    margin-top: -177px;
  }
  70% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.container2 {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*Main*/

.serie-principal .container {
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/*Aplications*/

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0.3rem;
}

.carrosel-filmes {
  margin-top: 0.1rem;
}

footer {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

/*Modal*/

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 0rem;
  height: 0rem;
  visibility: hidden;
}

.modal-overlaymoveit {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 0rem;
  height: 0rem;
  visibility: hidden;
}
.modal-overlaydevfinance {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 0rem;
  height: 0rem;
  visibility: hidden;
}
.modal-overlaydevinstagram {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
  width: 0rem;
  height: 0rem;
  visibility: hidden;
}

.modal {
  max-width: 500px;
  width: 100%;
  background: #30363d;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active {
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-content: center;
  visibility: visible;
}

.form {
  display: flex;
  flex-direction: column;
}

.cancelar {
  border: solid 0.1rem white !important;
  padding: 1rem;
}

.getSite {
  margin-top: 10%;
  margin-bottom: 10%;
  border: solid 0.1rem white !important;
  padding: 1rem;
}

.invisible {
  position: fixed;
  z-index: -1;
}

/*background animation

.animation {
  width: 100%;
  height: 50vh;
}

.animation .box {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box span {
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.3);
  animation: showBack 20s linear infinite;
  bottom: -150px;
}

.box span:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box span:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1s;
  animation-duration: 15s;
}

.box span:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 3s;
  animation-duration: 20s;
}

.box span:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box span:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box span:nth-child(6) {
  left: 25%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
  animation-duration: 20s;
}

.box span:nth-child(7) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 8s;
  animation-duration: 10s;
}

.box span:nth-child(8) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 4s;
}

.box span:nth-child(9) {
  left: 40%;
  width: 80px;
  height: 80px;
  animation-delay: 4s;
}

@keyframes showBack {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
*/

/*Progress*/

::-webkit-scrollbar {
  width: 0;
}

.scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

.progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

/*Anchor*/
.topbtn {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 998;
  border: none;
  outline: none;
  visibility: hidden;
  transition: 500ms ease-in;
}

.topbtn .rocket img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.topbtn.active {
  opacity: 1;
  visibility: visible;
}

.rocket.active {
  animation: rocket 0.1s ease infinite;
}

@keyframes rocket {
  0%,
  100% {
    transform: translate(-1px);
  }
  50% {
    transform: translate(1px);
  }
}

.rocket.active::before {
  content: "";
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translate(-50%);
  width: 7px;
  height: 60px;
  border-radius: 0 0 50px;
}

.rocket.active::after {
  content: "";
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translate(-50%);
  width: 7px;
  height: 60px;
  border-radius: 0 0 50px;

  filter: blur(20px);
}
