@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --red: #e50814;
  --black: #141414;
  --font: #aaa;
  --fontWhite: #fff;
}

a {
  cursor: pointer;
}

body {
  background: #161b22;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontWhite);
}

header nav {
  padding: 1rem;
  background: #30363d;
  width: 100%;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  margin-left: 5px;
  color: var(--font);
  font-family: "Arial Black";
  font-size: 2.5rem;
}

header .logo:hover {
  color: var(--fontWhite);
  background: #e50814;
}

header nav a {
  text-decoration: none;
  color: var(--font);
  margin-right: 10px;
  font-size: 1.5rem;
}

header nav a:hover {
  color: var(--fontWhite);
  font-size: 1.4rem;
  padding: 0.2rem;
}

/*Logo - Filme*/

.serie-principal .titulo {
  font-size: 5rem;

  font-family: "Josefin Sans", sans-serif;
}

.tituloD {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.profile {
  height: 10rem;
  background-size: cover;
  border-radius: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container2 {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*Main*/

.serie-principal .container {
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/*Filmes*/

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0.3rem;
}

.carrosel-filmes {
  margin-top: 0.1rem;
}

footer {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

/*Modal*/

.modal {
  max-width: 500px;
  width: 100%;
  background: #30363d;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items:flex-end;
  justify-content: end;
  width: 1rem;
  height: 1rem;
  visibility: hidden;
}

.modal-overlay.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  justify-content: center;
  visibility: visible;
}

#form {
  display: flex;
  flex-direction: column;
}

#cancelar {
  border: solid 0.1rem white;
  padding: 1rem;
}

#getSite {
  margin-top: 10%;
  margin-bottom: 10%;
  border: solid 0.1rem white;
  padding: 1rem;
}

.invisible {
  position: fixed;
  z-index: -1;
}
